*{
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}
body, #root{
  height: 100vh;

}
.grid-container{
  display: grid;
  grid-template-areas: "header"
  "main"
  "footer";
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
  height: 100vh;
}
header{
  grid-area: header;
  background-color: cornflowerblue;
}
main{
  grid-area: main;
}
footer{
  grid-area: footer;
  background-color: cornflowerblue;
}

.content{
  display: flex;
  flex-wrap: wrap;
  
}
.main{
  flex: 3 60rem;
}
.sidebar{
  flex: 1 20rem;
}

/* products */
.products{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.products li{
  flex: 1 1 29rem;
  height: 47rem;
  padding: 1rem;
  margin: 1rem;
}
.product{
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  height: 100%;
}
.product img{
  max-width: 37rem;
  max-height: 37rem;
}
.price{
  width: 100%;
  justify-content: space-between;
  display: flex;
}
.btn{
  padding: 10px 20px;
  background-color: darkgoldenrod;
  color: black;
  border: none;
  outline: none;
}


/* filter */
.filter{
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
}

/* cart */
.cart{
  padding: 1rem;
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.cart-header{
  border-bottom: 0.1rem #c0c0c0 solid;
}
.cart-items{
  padding: 0;
  width: 100%;
  list-style-type: none;
}
.cart-items img{
  width: 5rem;

}
.cart-items li{
  display: flex;
}

.cart-items li div{
  padding: .5rem;
}
.cart-items li div:last-child{
  flex: 1;
}
.right{
  text-align: right;
}

/* modal  */
.product-detail{
  display: flex;
}
.product-detail img{
  width: 40%;
  margin-right: 30px;
}